.DS_Store
._*
node_modules
public/index.html
public/docs
public/test
package-lock.json
yarn.lock
stats.json
public_test/main.*

# Webpack chunks
public/[0-9]*.*.*
public/bundle.*

# Embed bundles
public/embed/*
public/notes/*
public/viewer/*

# Netlify
.netlify

# Local test env file
.env.test
