{
  "bracketSameLine": true,
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteStrictMode": false
}
