/* make sure to import variables.css first */

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

input,
select {
  padding: 4px 10px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 3px;
  border: solid 1px #d0d0d0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

select {
  background: white;
}

textarea {
  min-height: 44px;
  max-height: 25vh;
  resize: none;
  border: 1px solid #d0d0d0;
  border-radius: var(--radius, 3px);
  font-size: 12px;
  width: 100%;
  padding: 2px 4px;
  box-sizing: border-box;
  outline: none;
}

.dropper {
  font-size: 0.6em;
  padding-left: 5px;
  transform: scaleY(0.8) translateY(-1px);
  display: inline-block;
}

details.dc summary {
  outline: none;
  user-select: none;
  cursor: pointer;
  font-size: 10px;
  color: var(--gray, rgba(0, 0, 0, 0.53));
  margin: 0 -10px;
}

.sticky {
  position: sticky;
  top: 0;
}

@media only screen and (max-height: 600px) {
  .sticky {
    position: relative;
  }
}

.vheader {
  overflow: hidden;
  width: 100%;
  text-shadow: 0 1px 0 #ddd;
  background: #c2c2c2;
  background: linear-gradient(#dfdfdf, #c2c2c2);
}

.vheader .vcontent {
  display: table;
  width: 100%;
}

.vheader .vcontent svg {
  display: block;
}

.vheader select {
  @include buttonLike;

  background: rgba(white, 0.7);
  border-radius: 3px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  outline: none;
  border: none;
  padding: 3px 20px 3px 8px;
  appearance: none;

  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii01IDAgMjAgNiI+PHBhdGggZD0iTTEwIDBMNSA2IDAgMGgxMHoiIGZpbGw9IiM1MzUyNTIiLz48L3N2Zz4K");
  background-size: 21px 11px;
  background-repeat: no-repeat;
  background-position: right center;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}

a.active {
  font-weight: normal !important;
}

a.active .project {
  background: var(--primary-faded, rgba(66, 148, 240, 0.13));
}

a.active .project:hover {
  background: var(--primary-faded, rgba(66, 148, 240, 0.13));
  opacity: 1;
}

a.ib {
  display: inline-block;
}

/* Mixins */
.document-cell {
  display: table-cell;
  vertical-align: middle;
}

.menu {
  background: var(--menuBg);
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: var(--menuRadius);
}

.processingText {
  color: var(--primary);
  font-size: 16px;
}

.buttonLike {
  background: none;
  border: none;
  cursor: pointer;
}

.buttonLike:hover {
  opacity: var(--hover-opacity);
}
