/* 
Updated variables and styles for new SvelteKit routes
*/

:root {
  /* fonts */
  --font-sans: "Source Sans Pro";
  --font-xs: 0.75em;
  --font-s: 0.875em;
  --font-m: 1em;
  --font-l: 1.25em;
  --font-xl: 1.5em;

  /* Font Weights */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* colors */
  --white: #ffffff;
  --black: #0c1e27;

  --gray-1: #f5f6f7;
  --gray-2: #d8dee2;
  --gray-3: #99a8b3;
  --gray-4: #5c717c;
  --gray-5: #233944;

  --red: #e1275f;
  --red-dark: #5d275f;
  --red-light: #e9a1bb;

  --orange: #ec7b6b;
  --orange-dark: #69515c;
  --orange-light: #ffc2ba;

  --yellow: #eccb6b;
  --yellow-bright: #ffe325;
  --yellow-light: #ffe5ba;
  --yellow-dark: #69755c;

  --green: #27c6a2;
  --green-dark: #117383;
  --green-light: #9de3d3;
  --green-shiny: #24cc99;

  --blue-1: #eef3f9;
  --blue-2: #b5ceed;
  --blue-3: #4294f0;
  --blue-4: #1367d0;
  --blue-5: #053775;

  --purple: #744af0;
  --purple-light: #dfd5fa;
  --purple-dark: #343ba6;

  /* semantic aliases */
  --primary: var(--blue-3);
  --premium: var(--green-shiny);
  --error: var(--red);
  --note-public: var(--yellow-bright);
  --note-private: var(--blue-3);
  --note-org: var(--green);

  --caution: var(--red);

  /* Text-size styles */
  --action: 12px;

  /* Effect styles */
  --border: #d9d9d9;
  --glare: inset 8px 8px 16px rgba(255, 255, 255, 0.25);
  --shadow: 0px 2px 4px rgba(128, 128, 128, 0.15);

  /* Z-Index Layers */
  --z-modal: 5;
}

html,
body {
  margin: 0;
  font-family: var(--font-sans), sans-serif;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* reset */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-l);
}

h3 {
  font-size: var(--font-m);
}

h4 {
  font-size: var(--font-s);
}

h5 {
  font-size: var(--font-xs);
}

p {
  font-size: var(--font-m);
}

a {
  color: var(--primary);
}

dl,
dt,
dd {
  font-size: var(--font-m);
  margin: 0;
}

dt {
  color: var(--gray-5, #233944);
  font-size: var(--font-xs, 0.75rem);
  font-weight: var(--font-semibold, 600);
}

dd {
  color: var(--gray-5, #233944);
  font-size: var(--font-s, 0.875rem);
  font-weight: var(--font-regular, 400);
}

summary {
  cursor: pointer;
}

/*
Utility classes
*/

/* https://css-tricks.com/inclusively-hidden/
 * Hiding class, making content visible only to screen readers but not visually
 * "sr" meaning "screen-reader" 
 */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr.divider {
  width: 100%;
  border: none;
  border-top: 1px solid var(--gray-2, #d8dee2);
}
