/* 
Updated variables and styles for new SvelteKit routes
*/

:root {
  /* Font Families */
  --font-sans: "Source Sans Pro";
  --font-mono: "Source Code Pro";

  /* Font Sizes */
  --font-xs: 0.75em;
  --font-sm: 0.875em;
  --font-md: 1em;
  --font-lg: 1.25em;
  --font-xl: 1.5em;

  /* Font Weights */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* Colors */
  --white: #ffffff;
  --black: #0c1e27;

  --gray-5: #233944;
  --gray-4: #5c717c;
  --gray-3: #99a8b3;
  --gray-2: #d8dee2;
  --gray-1: #f5f6f7;

  --blue-5: #053775;
  --blue-4: #1367d0;
  --blue-3: #4294f0;
  --blue-2: #b5ceed;
  --blue-1: #eef3f9;

  --red-5: #302240;
  --red-4: #5d275f;
  --red-3: #e1275f;
  --red-2: #eaa4bb;
  --red-1: #fae8ee;

  --orange-5: #36353f;
  --orange-4: #69515c;
  --orange-3: #ec7b6b;
  --orange-2: #ffc2ba;
  --orange-1: #fff0ee;

  --yellow-5: #36453f;
  --yellow-4: #69755c;
  --yellow-3: #eccb6b;
  --yellow-2: #ffe5ba;
  --yellow-1: #fff9ee;

  --green-5: #0e4450;
  --green-4: #117383;
  --green-3: #27c6a2;
  --green-2: #9de3d3;
  --green-1: #ebf9f6;

  --purple-5: #1e2b60;
  --purple-4: #343ba6;
  --purple-3: #744af0;
  --purple-2: #dfd5fa;
  --purple-1: #f4f1fe;

  /* semantic aliases */
  --primary: var(--blue-3);
  --premium: var(--green-3);
  --error: var(--red-3);
  --caution: var(--orange-3);

  --note-public: var(--yellow-3);
  --note-private: var(--blue-3);
  --note-org: var(--green-3);

  /* Text-size styles */
  --action: 12px;

  /* Effect styles */
  --radius: 0.5rem;
  --border: #d9d9d9;
  --glare: inset 8px 8px 16px rgba(255, 255, 255, 0.25);

  /* Shadows */
  --shadow-1: 0 2px 4px 2px rgba(30 48 56 / 0.15);
  --shadow-2: 0 6px 8px 0px rgba(30 48 56 / 0.10);
  --shadow-3: 0 2px 16px 2px rgba(30 48 56 / 0.075);

  /* Z-Index Layers */
  --z-dropdownBackdrop: 4;
  --z-dropdown: 5;
  --z-modal: 10;
  --z-toast: 20;
}

html,
body {
  margin: 0;
  font-family: var(--font-sans), sans-serif;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* reset */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-md);
}

h4 {
  font-size: var(--font-sm);
}

h5 {
  font-size: var(--font-xs);
}

p {
  font-size: var(--font-md);
}

a {
  color: var(--primary);
}

dl,
dt,
dd {
  font-size: var(--font-md);
  margin: 0;
}

dt {
  color: var(--gray-5, #233944);
  font-size: var(--font-xs, 0.75rem);
  font-weight: var(--font-semibold, 600);
}

dd {
  color: var(--gray-5, #233944);
  font-size: var(--font-sm, 0.875rem);
  font-weight: var(--font-regular, 400);
}

summary {
  cursor: pointer;
}

/*
Utility classes
*/

/* https://css-tricks.com/inclusively-hidden/
 * Hiding class, making content visible only to screen readers but not visually
 * "sr" meaning "screen-reader" 
 */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr.divider {
  width: 100%;
  border: none;
  border-top: 1px solid var(--gray-2, #d8dee2);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 1.5rem;
  border-radius: var(--font-md, 1rem);
  background: var(--white, #fff);
  box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}
