/* Colors */
$primary: #4294f0;
$primary-faded: rgba(66, 148, 240, 0.13);
$sidebar: #edeeef;
$black: #000000;
$gray: rgba(0, 0, 0, 0.53);
$darkgray: rgba(0, 0, 0, 0.8);
$light-gray: rgba(255, 255, 255, 0.53);
$modal: #323232;
$secondary: #626262;
$light-primary: #eff7ff;
$tertiary: #0c8a01;
$faint-gray: #f8f8f8;
$caution: #f04c42;
$barFaded: #cae4ff;
$warning: #ffeded;
$errorbg: rgba($caution, 0.05);
$normaloutline: 0.5px solid rgba(0, 0, 0, 0.25);
$menuBg: #f7f7f7;
$searchSpecial: #5a00ff;
$homeBlack: #222222;
$actionPane: #fffdea;
// Viewer
$viewerPaneColor: #f3f3f3;
$viewerBodyBg: #e2e2e2;
$viewerBodyBgDarker: #878887;
$viewerGray: #525252;
$viewerDarkGray: #171717;
$viewerBlack: #171717;
$viewerHeaderBorder: solid 1px #949494;
$viewerLink: #004276;

$viewerFg: rgba(0, 0, 0, 0.8);
$viewerSecondary: rgba(0, 0, 0, 0.78);

$annotationBorder: #ffe325;
$privateAnnotation: #6bc2f8;
$organizationAnnotation: saturate(
  mix($annotationBorder, $privateAnnotation, 40%),
  30%
);
$faint-yellow: mix($annotationBorder, white, 10%);
$fyi: #fbf9f3;

/* Shadows */
$overlay-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

/* Opacity */
$hover-opacity: 0.8;

/* Sizes */
$sidebar-width: 272px;
$normal: 16px;
$small: 14px;
$radius: 3px;
$menuRadius: 5px;
$modal-horiz-padding: 42px;
$modal-vert-padding: 44px;
$closePadding: 12px;
$menuActivePadding: 10px;
$checkboxSize: 22px;
$pageRail: 69px;
$annotationBorderWidth: 3px;
$mainDocContainerPadding: 12px;
$sidebarAdd: 24px;

/* Animations */
$progress-transition: width 0.8s ease;
$opacity-fast: opacity 0.25s ease;

/* Document Viewer */
$document-body-bg: #e0e1e3;
$document-faded: #ffffff21;
$document-selected: #00000021;

/* Z-indices */
$checkboxZ: -9;
$sidebarBg: -1;

$viewerBodyZ: 1;
$viewerPageNumZ: 2;
$viewerTagZ: 3;
$viewerScrollContainerZ: 4;
$viewerActionPaneZ: 5;
$viewerAnnotationZ: 6;
$viewerSidebarZ: 7;
$viewerHeaderZ: 8;
$viewerFooterZ: 8;

$spinnerZ: 8;

$hamburgerZ: 8;
$sidebarStickyZ: 9;
$appStickyZ: 10;

$toastOuterZ: 11;
$sidebarZ: 12;
$menuShim: 14;
$menuTitleActive: 15;
$menuActive: 16;
$tooltipZ: 19;
$modalShimZ: 20;
$modalContainerZ: 21;
$modalHeaderZ: 22;

$mainToastZ: 23;

$largeScreenBreak: 1200px;
$earlyBreak: 900px;
$mobileBreak: 720px;

/* Mixins */
@mixin document-cell {
  display: table-cell;
  vertical-align: middle;
}

@mixin menu {
  background: $menuBg;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: $menuRadius;
}

@mixin processingText {
  color: $primary;
  font-size: 16px;
}

@mixin buttonLike {
  cursor: pointer;

  &:hover {
    opacity: $hover-opacity;
  }
}
